<a href="https://colab.research.google.com/github/rahulrajpr/AdvancedFeatureEngineering/blob/Encoding/FeequencyEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [6]:
import warnings
warnings.filterwarnings('ignore')

In [7]:
!pip install feature_engine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: feature_engine in /usr/local/lib/python3.8/dist-packages (1.5.2)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.21.6)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (0.12.2)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.3.5)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.0.2)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.7.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature_engine) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature_engine) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature_engine) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature_engine) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature_engine) (3.1.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels>=0.11.1->feature_engine) (0.5.3)

In [8]:
path = '/content/drive/MyDrive/Udemy Courses - 2.0/Feature Engineering/Dataset/houseprice/houseprice.csv'
data = pd.read_csv(path)
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [9]:
sel_cols = ['Neighborhood', 'Exterior1st', 'Exterior2nd', 'SalePrice']

In [10]:
data = data[sel_cols]

In [11]:
data.nunique()

Neighborhood     25
Exterior1st      15
Exterior2nd      16
SalePrice       663
dtype: int64

In [12]:
X = data.drop('SalePrice', axis =1)
y = data['SalePrice']

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size = 0.7, random_state = 100)

In [15]:
from feature_engine.encoding import CountFrequencyEncoder

In [16]:
cnt_freq_enc = CountFrequencyEncoder(encoding_method = 'frequency')

In [17]:
cnt_freq_enc.fit(X_train)

CountFrequencyEncoder(encoding_method='frequency')

In [18]:
cnt_freq_enc.encoder_dict_

{'Neighborhood': {'NAmes': 0.15181194906953965,
  'CollgCr': 0.098922624877571,
  'OldTown': 0.07737512242899118,
  'Edwards': 0.07443682664054849,
  'Somerst': 0.058765915768854066,
  'NridgHt': 0.05778648383937316,
  'Gilbert': 0.05190989226248776,
  'Sawyer': 0.047992164544564155,
  'NWAmes': 0.04505386875612145,
  'SawyerW': 0.04407443682664055,
  'BrkSide': 0.03819784524975514,
  'Mitchel': 0.03721841332027424,
  'NoRidge': 0.034280117531831536,
  'Crawfor': 0.031341821743388835,
  'IDOTRR': 0.02840352595494613,
  'Timber': 0.021547502448579822,
  'ClearCr': 0.019588638589618023,
  'SWISU': 0.01860920666013712,
  'StoneBr': 0.012732615083251714,
  'BrDale': 0.011753183153770812,
  'Blmngtn': 0.011753183153770812,
  'Veenker': 0.010773751224289911,
  'MeadowV': 0.00881488736532811,
  'NPkVill': 0.005876591576885406,
  'Blueste': 0.0009794319294809011},
 'Exterior1st': {'VinylSd': 0.34084231145935356,
  'MetalSd': 0.168462291870715,
  'HdBoard': 0.15475024485798236,
  'Wd Sdng': 0.13614103819784526,
  'Plywood': 0.07345739471106758,
  'CemntBd': 0.03623898139079334,
  'BrkFace': 0.029382957884427033,
  'Stucco': 0.019588638589618023,
  'WdShing': 0.019588638589618023,
  'AsbShng': 0.014691478942213516,
  'Stone': 0.0019588638589618022,
  'BrkComm': 0.0019588638589618022,
  'ImStucc': 0.0009794319294809011,
  'AsphShn': 0.0009794319294809011,
  'CBlock': 0.0009794319294809011},
 'Exterior2nd': {'VinylSd': 0.3330068560235064,
  'MetalSd': 0.16454456415279137,
  'HdBoard': 0.14299706170421156,
  'Wd Sdng': 0.13124387855044076,
  'Plywood': 0.09500489715964741,
  'CmentBd': 0.03623898139079334,
  'Wd Shng': 0.031341821743388835,
  'Stucco': 0.019588638589618023,
  'BrkFace': 0.015670910871694418,
  'AsbShng': 0.012732615083251714,
  'ImStucc': 0.007835455435847209,
  'Brk Cmn': 0.004897159647404506,
  'Stone': 0.002938295788442703,
  'AsphShn': 0.0009794319294809011,
  'CBlock': 0.0009794319294809011}}

In [19]:
cnt_freq_enc.transform(X_train)

      Neighborhood  Exterior1st  Exterior2nd
318       0.034280     0.154750     0.142997
239       0.074437     0.340842     0.333007
986       0.077375     0.340842     0.333007
1416      0.077375     0.340842     0.012733
390       0.074437     0.168462     0.164545
...            ...          ...          ...
802       0.098923     0.019589     0.031342
53        0.010774     0.019589     0.031342
350       0.057786     0.168462     0.164545
79        0.077375     0.136141     0.131244
792       0.034280     0.168462     0.164545

[1021 rows x 3 columns]

In [20]:
X_train = cnt_freq_enc.transform(X_train)
X_test = cnt_freq_enc.transform(X_test)