<a href="https://colab.research.google.com/github/rahulrajpr/AdvancedFeatureEngineering/blob/Encoding/OrdinalEncording.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
!pip install feature_engine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting feature_engine
  Downloading feature_engine-1.5.2-py2.py3-none-any.whl (290 kB)
     |████████████████████████████████| 290 kB 4.5 MB/s
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.7.3)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.21.6)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.3.5)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.0.2)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (0.12.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature_engine) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature_engine) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature_engine) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature_engine) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature_engine) (3.1.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels>=0.11.1->feature_engine) (0.5.3)
Installing collected packages: feature-engine
Successfully installed feature-engine-1.5.2

In [5]:
path = '/content/drive/MyDrive/Udemy Courses - 2.0/Feature Engineering/Dataset/houseprice/houseprice.csv'
data = pd.read_csv(path)
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
sel_cols = ['Neighborhood', 'Exterior1st', 'Exterior2nd', 'SalePrice']

In [7]:
data = data[sel_cols]

In [8]:
data.nunique()

Neighborhood     25
Exterior1st      15
Exterior2nd      16
SalePrice       663
dtype: int64

In [10]:
X = data.drop('SalePrice', axis =1)
y = data['SalePrice']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size = 0.7, random_state = 100)

In [14]:
from feature_engine.encoding import OrdinalEncoder

In [23]:
ord_enc = OrdinalEncoder(encoding_method = 'arbitrary', variables = ['Neighborhood','Exterior1st','Exterior2nd'])

In [24]:
ord_enc.fit(X_train)

OrdinalEncoder(encoding_method='arbitrary',
               variables=['Neighborhood', 'Exterior1st', 'Exterior2nd'])

In [25]:
ord_enc.encoder_dict_

{'Neighborhood': {'NoRidge': 0,
  'Edwards': 1,
  'OldTown': 2,
  'CollgCr': 3,
  'SawyerW': 4,
  'NAmes': 5,
  'Crawfor': 6,
  'IDOTRR': 7,
  'NWAmes': 8,
  'NridgHt': 9,
  'SWISU': 10,
  'Timber': 11,
  'BrkSide': 12,
  'Somerst': 13,
  'MeadowV': 14,
  'Sawyer': 15,
  'Mitchel': 16,
  'Veenker': 17,
  'Gilbert': 18,
  'ClearCr': 19,
  'BrDale': 20,
  'NPkVill': 21,
  'StoneBr': 22,
  'Blmngtn': 23,
  'Blueste': 24},
 'Exterior1st': {'HdBoard': 0,
  'VinylSd': 1,
  'MetalSd': 2,
  'Wd Sdng': 3,
  'Stucco': 4,
  'Plywood': 5,
  'CemntBd': 6,
  'BrkFace': 7,
  'AsbShng': 8,
  'ImStucc': 9,
  'WdShing': 10,
  'Stone': 11,
  'AsphShn': 12,
  'CBlock': 13,
  'BrkComm': 14},
 'Exterior2nd': {'HdBoard': 0,
  'VinylSd': 1,
  'AsbShng': 2,
  'MetalSd': 3,
  'Wd Sdng': 4,
  'Stucco': 5,
  'Plywood': 6,
  'CmentBd': 7,
  'Brk Cmn': 8,
  'ImStucc': 9,
  'Wd Shng': 10,
  'BrkFace': 11,
  'Stone': 12,
  'AsphShn': 13,
  'CBlock': 14}}

In [26]:
ord_enc.transform(X_train)

      Neighborhood  Exterior1st  Exterior2nd
318              0            0            0
239              1            1            1
986              2            1            1
1416             2            1            2
390              1            2            3
...            ...          ...          ...
802              3           10           10
53              17           10           10
350              9            2            3
79               2            3            4
792              0            2            3

[1021 rows x 3 columns]

In [27]:
X_train = ord_enc.transform(X_train)
X_test = ord_enc.transform(X_test)