<a href="https://colab.research.google.com/github/rahulrajpr/AdvancedFeatureEngineering/blob/DataImputation/DataImputation_Sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
path = '/content/drive/MyDrive/Udemy Courses - 2.0/Feature Engineering/Dataset/houseprice/houseprice.csv'
data = pd.read_csv(path)
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
data.shape

(1460, 81)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [ ]:
sel_cols = ['OverallQual','TotalBsmtSF','1stFlrSF','GrLivArea','WoodDeckSF','BsmtUnfSF','LotFrontage','MasVnrArea','GarageYrBlt','SalePrice']

In [ ]:
df = data[sel_cols]
df.head()

,OverallQual,TotalBsmtSF,1stFlrSF,GrLivArea,WoodDeckSF,BsmtUnfSF,LotFrontage,MasVnrArea,GarageYrBlt,SalePrice
0,7,856,856,1710,0,150,65.0,196.0,2003.0,208500
1,6,1262,1262,1262,298,284,80.0,0.0,1976.0,181500
2,7,920,920,1786,0,434,68.0,162.0,2001.0,223500
3,7,756,961,1717,0,540,60.0,0.0,1998.0,140000
4,8,1145,1145,2198,192,490,84.0,350.0,2000.0,250000

In [ ]:
df.isnull().mean()

OverallQual    0.000000
TotalBsmtSF    0.000000
1stFlrSF       0.000000
GrLivArea      0.000000
WoodDeckSF     0.000000
BsmtUnfSF      0.000000
LotFrontage    0.177397
MasVnrArea     0.005479
GarageYrBlt    0.055479
SalePrice      0.000000
dtype: float64

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_df, test_df = train_test_split(df, train_size = 0.7, random_state = 100)

In [ ]:
train_df.shape, test_df.shape

((1021, 10), (439, 10))

Imputation using Simple imputer -- All columns gets imputed with samete strategy

In [ ]:
imputer = SimpleImputer(strategy= 'median')

In [ ]:
imputer.fit(train_df)

SimpleImputer(strategy='median')

In [ ]:
imputer.statistics_

array([6.000e+00, 9.940e+02, 1.086e+03, 1.466e+03, 0.000e+00, 4.620e+02,
       6.800e+01, 0.000e+00, 1.981e+03, 1.610e+05])

In [ ]:
train_df[:] = imputer.transform(train_df)
test_df[:] = imputer.transform(test_df)

In [ ]:
train_df.isnull().mean()

OverallQual    0.0
TotalBsmtSF    0.0
1stFlrSF       0.0
GrLivArea      0.0
WoodDeckSF     0.0
BsmtUnfSF      0.0
LotFrontage    0.0
MasVnrArea     0.0
GarageYrBlt    0.0
SalePrice      0.0
dtype: float64

In [ ]:
test_df.isnull().mean()

OverallQual    0.0
TotalBsmtSF    0.0
1stFlrSF       0.0
GrLivArea      0.0
WoodDeckSF     0.0
BsmtUnfSF      0.0
LotFrontage    0.0
MasVnrArea     0.0
GarageYrBlt    0.0
SalePrice      0.0
dtype: float64

Imputation with different strategy for different columsn using the column transformer

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
train_df, test_df = train_test_split(df, train_size = 0.7, random_state = 100)

In [ ]:
cols_mean_imput = ['LotFrontage']
cols_median_imput = ['MasVnrArea','GarageYrBlt']

In [ ]:
transformers = [('mean_imp',SimpleImputer(strategy = 'median'),cols_mean_imput),
                ('medinan_imp',SimpleImputer(strategy = 'mean'), cols_median_imput)]

In [ ]:
impute_processor = ColumnTransformer(transformers = transformers, remainder = 'passthrough')

In [ ]:
impute_processor.fit(train_df)

ColumnTransformer(remainder='passthrough',
                  transformers=[('mean_imp', SimpleImputer(strategy='median'),
                                 ['LotFrontage']),
                                ('medinan_imp', SimpleImputer(),
                                 ['MasVnrArea', 'GarageYrBlt'])])

In [ ]:
train_df[:] = impute_processor.transform(train_df)
test_df[:] = impute_processor.transform(test_df)

In [ ]:
train_df.isnull().mean()

OverallQual    0.0
TotalBsmtSF    0.0
1stFlrSF       0.0
GrLivArea      0.0
WoodDeckSF     0.0
BsmtUnfSF      0.0
LotFrontage    0.0
MasVnrArea     0.0
GarageYrBlt    0.0
SalePrice      0.0
dtype: float64

In [ ]:
train_df.isnull().mean()

OverallQual    0.0
TotalBsmtSF    0.0
1stFlrSF       0.0
GrLivArea      0.0
WoodDeckSF     0.0
BsmtUnfSF      0.0
LotFrontage    0.0
MasVnrArea     0.0
GarageYrBlt    0.0
SalePrice      0.0
dtype: float64

Imput the whole data frame with constant values

In [ ]:
train_df, test_df = train_test_split(df, train_size = 0.7, random_state = 100)

In [ ]:
train_df.isnull().mean()

OverallQual    0.000000
TotalBsmtSF    0.000000
1stFlrSF       0.000000
GrLivArea      0.000000
WoodDeckSF     0.000000
BsmtUnfSF      0.000000
LotFrontage    0.173359
MasVnrArea     0.003918
GarageYrBlt    0.055828
SalePrice      0.000000
dtype: float64

In [ ]:
imputer_constant = SimpleImputer(strategy = 'constant',fill_value = 999)

In [ ]:
imputer_constant.fit(train_df)

SimpleImputer(fill_value=999, strategy='constant')

In [ ]:
train_df[:] = imputer_constant.transform(train_df)
test_df[:] = imputer_constant.transform(test_df)

In [ ]:
train_df.isnull().mean()

OverallQual    0.0
TotalBsmtSF    0.0
1stFlrSF       0.0
GrLivArea      0.0
WoodDeckSF     0.0
BsmtUnfSF      0.0
LotFrontage    0.0
MasVnrArea     0.0
GarageYrBlt    0.0
SalePrice      0.0
dtype: float64

Imput the particular columns with constant using the column Transformer

In [ ]:
train_df, test_df = train_test_split(df, train_size = 0.7, random_state = 100)
train_df.isnull().mean()

OverallQual    0.000000
TotalBsmtSF    0.000000
1stFlrSF       0.000000
GrLivArea      0.000000
WoodDeckSF     0.000000
BsmtUnfSF      0.000000
LotFrontage    0.173359
MasVnrArea     0.003918
GarageYrBlt    0.055828
SalePrice      0.000000
dtype: float64

In [ ]:
imputer999 = SimpleImputer(strategy = 'constant', fill_value = 999)
col_to_impute = ['LotFrontage','MasVnrArea','GarageYrBlt']

In [ ]:
tranformers = [('999Impute',imputer999,col_to_impute)]

In [ ]:
col_trans = ColumnTransformer(transformers = transformers, remainder = 'passthrough')

In [ ]:
col_trans.fit(train_df)

ColumnTransformer(remainder='passthrough',
                  transformers=[('mean_imp', SimpleImputer(strategy='median'),
                                 ['LotFrontage']),
                                ('medinan_imp', SimpleImputer(),
                                 ['MasVnrArea', 'GarageYrBlt'])])

In [ ]:
train_df[:] = col_trans.transform(train_df)
test_df[:] = col_trans.transform(test_df)

In [ ]:
train_df.isnull().mean()

OverallQual    0.0
TotalBsmtSF    0.0
1stFlrSF       0.0
GrLivArea      0.0
WoodDeckSF     0.0
BsmtUnfSF      0.0
LotFrontage    0.0
MasVnrArea     0.0
GarageYrBlt    0.0
SalePrice      0.0
dtype: float64

Add a Missing category for imputing

In [ ]:
sel_col = ['BsmtQual','FireplaceQu']

In [ ]:
df_cat = data[sel_col]

In [ ]:
train_df, test_df = train_test_split(df_cat, train_size = 0.7, random_state = 100)
train_df.isnull().mean()

BsmtQual       0.028404
FireplaceQu    0.484819
dtype: float64

In [ ]:
imputer_missing = SimpleImputer(strategy = 'constant', fill_value = 'Missing')

In [ ]:
imputer_missing.fit(train_df)

SimpleImputer(fill_value='Missing', strategy='constant')

In [ ]:
train_df[:] = imputer_missing.transform(train_df)
test_df[:] =imputer_missing.transform(test_df)

In [ ]:
train_df.isnull().mean()

BsmtQual       0.0
FireplaceQu    0.0
dtype: float64

Missing Data Indicator

In [ ]:
from sklearn.impute import MissingIndicator

In [ ]:
train_df, test_df = train_test_split(df, train_size = 0.7, random_state = 100)
train_df.isnull().mean()

OverallQual    0.000000
TotalBsmtSF    0.000000
1stFlrSF       0.000000
GrLivArea      0.000000
WoodDeckSF     0.000000
BsmtUnfSF      0.000000
LotFrontage    0.173359
MasVnrArea     0.003918
GarageYrBlt    0.055828
SalePrice      0.000000
dtype: float64

In [ ]:
indicator = MissingIndicator(features = 'missing-only', error_on_new= True)

In [ ]:
indicator.fit(train_df)

MissingIndicator()

In [ ]:
indicator.features_

array([6, 7, 8])

In [ ]:
missing_columsn = train_df.columns[indicator.features_]
missing_columsn

Index(['LotFrontage', 'MasVnrArea', 'GarageYrBlt'], dtype='object')

In [ ]:
label_missing_cols = [x+'_Missing' for x in missing_columsn]

In [ ]:
train_df[label_missing_cols] = indicator.transform(train_df)
test_df[label_missing_cols] = indicator.transform(test_df)

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1021 entries, 318 to 792
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OverallQual          1021 non-null   int64
 1   TotalBsmtSF          1021 non-null   int64
 2   1stFlrSF             1021 non-null   int64
 3   GrLivArea            1021 non-null   int64
 4   WoodDeckSF           1021 non-null   int64
 5   BsmtUnfSF            1021 non-null   int64
 6   LotFrontage          844 non-null    float64
 7   MasVnrArea           1017 non-null   float64
 8   GarageYrBlt          964 non-null    float64
 9   SalePrice            1021 non-null   int64
 10  LotFrontage_Missing  1021 non-null   bool
 11  MasVnrArea_Missing   1021 non-null   bool
 12  GarageYrBlt_Missing  1021 non-null   bool
dtypes: bool(3), float64(3), int64(7)
memory usage: 90.7 KB

Using the GridSearch CV for the best imputation approach

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [ ]:
X = data.drop('SalePrice', axis = 1)
y = data['SalePrice']

In [ ]:
num_cols = X.select_dtypes(include = np.number).columns

In [ ]:
cat_cols = X.select_dtypes(exclude = np.number).columns

In [ ]:
X_train,X_test, y_train, y_test = train_test_split(X,y,train_size = 0.7, random_state = 100)

In [ ]:
X_train.shape, y_train.shape

((1021, 80), (1021,))

In [ ]:
steps_num = [('impute_num',SimpleImputer(strategy = 'median')),
             ('scale',StandardScaler())]

steps_cat =[('impute_cat',SimpleImputer(strategy = 'most_frequent')),
             ('onehot',OneHotEncoder(handle_unknown='ignore'))]

In [ ]:
preprocessor = ColumnTransformer(transformers = [('numerical',Pipeline(steps = steps_num),num_cols), 
                                                 ('categorical',Pipeline(steps = steps_cat),cat_cols)],
                                 remainder = 'passthrough')

In [ ]:
model_pipeline = Pipeline(steps = [('preprocessor',preprocessor),
                              ('model',LinearRegression())])

In [ ]:
params = { 'preprocessor__numerical__impute_num__strategy' : ['mean','median'],
          'preprocessor__categorical__impute_cat__strategy' : ['most_frequent','missing']
          }

In [ ]:
gridsearch = GridSearchCV(estimator = model_pipeline, cv = 5, param_grid= params, n_jobs = -1, scoring = 'r2')

In [ ]:
from IPython.core.display import clear_output

In [ ]:
gridsearch.fit(X_train,y_train)
clear_output()
%time

CPU times: user 2 Âµs, sys: 0 ns, total: 2 Âµs
Wall time: 6.91 Âµs

In [ ]:
best_estimator = gridsearch.best_estimator_

In [ ]:
gridsearch.best_params_

{'preprocessor__categorical__impute_cat__strategy': 'most_frequent',
 'preprocessor__numerical__impute_num__strategy': 'median'}

In [ ]:
best_estimator.score(X_train,y_train)

0.949547600748912

In [ ]:
best_estimator.score(X_test,y_test)

0.7216798120873318

**Missing Data Imputation Using the Featue Engine**

Install pip Engine

In [ ]:
!pip install -U feature-engine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting feature-engine
  Downloading feature_engine-1.5.2-py2.py3-none-any.whl (290 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 290 kB 7.6 MB/s
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (1.3.5)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (1.0.2)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (1.21.6)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (0.12.2)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (1.7.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature-engine) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature-engine) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature-engine) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature-engine) (3.1.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels>=0.11.1->feature-engine) (0.5.3)
Installing collected packages: feature-engine
Successfully installed feature-engine-1.5.2

In [ ]:
import feature_engine

In [ ]:
from feature_engine

In [ ]:
er